<div class="control">
    <div class="input-control">
        <input [(ngModel)]="message" placeholder="Message goes here" >
    </div>
    
    <div class="send-control">
        <!-- <img src="../../../../../assets/images/smile.png" style="width: 20px;height: 20px; cursor: pointer; margin-right: 5px;" alt=""> -->
        <img src="../../../../../assets/images/send.png" style="width: 20px;height: 20px; cursor: pointer;" alt="" (click)="send()">
    
    </div>
    <!-- <button (click)="send()">Send</button> -->
</div>
